:root {
  /* --color_systemBlue: #007aff; */
  --color_systemBlue: #0069ee;
  --color_systemGreen: #34c759;
  --color_systemIndigo: #5856d6;
  --color_systemOrange: #ff9500;
  --color_systemPink: #ff2d55;
  --color_systemPurple: #af52de;
  --color_systemRed: #ff3b30;
  --color_systemTeal: #5ac8fa;
  --color_systemYellow: #ffcc00;

  --color_systemGray: #e5e5e5;
  --color_systemDarkGray: #888;
}
