:root {
  --color_systemBlue: #0069ee;
  --color_systemGreen: #34c759;
  --color_systemIndigo: #5856d6;
  --color_systemOrange: #ff9500;
  --color_systemPink: #ff2d55;
  --color_systemPurple: #af52de;
  --color_systemRed: #ff3b30;
  --color_systemTeal: #5ac8fa;
  --color_systemYellow: #ffcc00;

  --color_systemGray: #efefef;
  --color_systemDarkGray: #888;

  --color_bg: #fff;
  --color_font: #000;
  --color_border: #ccc;

  --color_settingsBg: #eee;
  --color_settingsCategoryBg: #fff;
  --color_settingsCategoryBorder: #ccc;

  --color_blurBg: #0005;

  --color_popupWindowShadow: #0003;
  --ui_popupWindowBorder: 1px solid #0002;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color_systemGray: #222222;

    --color_bg: #000;
    --color_font: #fff;
    --color_border: #fff1;

    --color_settingsBg: #000;
    --color_settingsCategoryBg: var(--color_systemGray);
    --color_settingsCategoryBorder: #333;

    --color_popupWindowShadow: #222;

    --ui_popupWindowBorder: 1px solid #fff2;
  }
}
