@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

meta[name="theme-color"] {
  content: var(--color_bg);
}
meta[name="apple-mobile-web-app-status-bar-style"] {
  content: var(--color_bg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: #aaa;
  border-color: #000;
  border-width: 1px;
}
body::-webkit-scrollbar-track {
  background-color: #ddd;
}
pre::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;

  color: var(--color_font);
  background: var(--color_bg);
}
input {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  padding: 5px 10px;
}

a {
  color: var(--color_systemBlue);
  text-decoration: none;
}

.blur-bg {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #0005;
  background: var(--blurBg);
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
}
.blur-panel {
  border: 1px solid #ccc;
  background: #eeec;
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  box-shadow: 0px 0px 9px #0002;
}

.container {
  margin: 0 auto;
  max-width: 768px;
  padding: 60px 15px 100px;
}

@media (prefers-color-scheme: dark) {
  .blur-panel {
    border: 1px solid var(--color_border);
    background: #111c;
  }
}
